{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Panier!</h1>
      <p>Panier is a Basic Ecommerce webside made using Django Frame work 

.</p>
      
    </div>
  </div>

  

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
